html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
*{
    box-sizing: border-box;
}
body{
    background-color: #E8EAF6;
    padding: 0 5% 0 5%;
margin: 0 ;

    min-width: 600px;

}
/*html{*/
    /*width: 660px;*/
/*}*/
/*.whole{*/
    /*width: 90%;*/
    /*margin: 0;*/

/*}*/
h1{
    font-family: Arial,Helvetica,sans-serif;
    color: white;
    font-size: 1.5em;


}

header span {
    font-family: "Times New Roman",Times,serif;
    color: white;
    font-style: italic;
}

header{
    background-color: #1A237F;
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}

/*nav li{*/
    /*float: left;*/
    /*list-style: none;*/
    /*padding-left: 0.6em;*/
/*}*/

nav a{
    margin: 0em 0.6em 0em 0em;
}

nav {
    background-color: #3F51B5;
    padding: 0.3em 0 0.3em 0.7em;
    margin: 0 0 0.5em 0;
}

nav {
    background-color: #3F51B5;
}
main{
    background-color: white;
    margin-top: 0.5em;
padding-top: 0.5em;
    padding-left: 0.5em;
}

.section1{
    border: #C5CAE9 solid 1px;
    box-sizing: border-box;
}

 main h3{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
     background-color: #7986CB;
}

 .picture1{
     position: fixed;
     width: 100%;
     height: auto;

 }

 figcaption {
     background-color: #C5CAE6;
     width: 100%;
     padding-bottom: 0.5em;
     padding-top: 0.5em;
     padding-left: 1em;
     padding-right: 1em;
     color: #7990A3;
     font-family: "Hoefler Text",Garamond,Times, serif;
     font-style: italic;

 }
main section p{
margin: 0.5em 1em 1em 1em;
    font-family: "Times New Roman", Times, serif;

}

a{
    /*font-weight: bold;*/
    color: #00B0FF;
    padding: 0.3em 0.3em 0.3em 0.3em;

}

.section1 article a{
    font-weight: bold;
}

nav a:hover {
background-color: #F50057;
    color: white;
}


.options ul{
    margin: 1em 1em 0em 1em;
}
.options li{
    float: right;
    list-style: none;
    margin-right: 0.5em;

}

.section1{
    padding-bottom: 0.5em;
}

.section1 div{
    padding: 0.5em 1em 1em 1em;
    margin: 0 0 0.5em 0em;
}

/*.section2{*/
    /*margin-bottom: 0.5em;*/
    /*padding-bottom: 0;*/
/*}*/
.section2 div{
    height: 100%;
    /*font-size: 0;*/
}

.section2 img{
    /*padding-right: 1em;*/
    /*margin-right: 1em;*/
    vertical-align: middle;
}

section{
    border: #C5CAE9 solid 1px;
    margin: 0em 0.5em 0.5em 0em;
}



.author{
    color: #C5CAE9;
    font-family: "Hoefler Text", Garamond, Times, serif;
    font-style: italic;
    padding: 0.5em 1em 0.5em 1em;
}

.date{
   color:  #F5A2C1
}

.comment{
    padding: 0em 0em 0.5em 1em;
    font-weight: bold;
    font-family: "Hoefler Text", Garamond, Times, serif;
}

.section3 hr{
height: 1px;
    solid-color: grey;

}



footer{
    padding: 1.3em 1em 1.3em 1em;
    background-color: #1A237F;
color: white;
}

footer a{
    font-weight: bold;
    color: #00B0FF;
}

footer p{
    margin-top: 0.6em;
}